/.idea/
/html/
/node_modules/
/package-lock.json
/root/assets/css/style.min.css
/root/assets/js/common.min.js
/root/assets/js/main.js
/root/assets/js/main.min.js
/root/assets/js/bundle.min.js
/root/wp-config.php
