/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
    $root: &;
    color: $colorWhite;
    &__txt {
        font-size: 1.6rem;
        line-height: 2;
        .fa-paw {
            color: orange;
        }
    }
    &__form {
        position: relative;
        width: 50%;
        margin: 15px auto;
        margin-bottom: 0;
        @include sp () {
            width: 80%;
        }
        @include max-w(500px) {
            width: 100%;
        }
        input {
            width: 90%;
            font-size: 1.6rem;
            line-height: 1.5;
            padding: 16px 0 16px 16px;
            border-radius: 50px;
            border: none;
            @include sp {
                border-radius: 5px;
                // margin-bottom: 10px;
                font-size: 1.3rem;
                line-height: 1.5;
            }
        }
        button {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            font-size: 1.6rem;
            line-height: 1.5;
            padding: 16px 32px;
            border-radius: 50px;
            border: none;
            font-weight: 600;
            color: white;
            cursor: pointer;
            background-color: $colorBlue2;
            &:hover {
                background-color: $colorRed;
                transition: all 0.3s ease-in-out;
            }
            @include sp {
                border-radius: 5px;
                font-size: 1.3rem;
                padding: 16px 23px;
                line-height: 1.5;
            }
        }
    }
    &__info {
        background-color: #045de9; background-image: linear-gradient(315deg, #09c6f9 0%, #045de9 74%);
        .c-title2 {
            font-size: 2rem;
            margin: 16px 0;
            @include sp {
                margin-bottom: 0;
            }
        }
    }
    &__content, &__branch, &__social {
        display: flex;
        flex-wrap: wrap;
        padding: 30px 0;
    }
    &__about, &__service, &__quote, &__support {
        width: 25%;
        padding-left: 30px;
        @include sp {
            padding-left: 10px;
            width: 50%;
        }
        @include max-w(468px){
            width: 100%;
        }
    }
    &__branch1, &__branch2, &__branch3 {
        width: 33.33%;
        padding-left: 30px;
        @include sp {
            width: 100%;
        }
    }
    &__website, &__network {
        width: 50%;
        padding-left: 30px;
        @include sp {
            width: 100%;
            padding-left: 10px;
        }
    }
    &__network {
        li {
            display: inline;
            font-size: 3.2rem;
            margin-right: 16px;
        }
    }
    &__copyRight {
        padding: 10px;
        text-align: center;
        background: url(/assets/img/common/bg-footer.svg);
        background-size: cover;
        .c-footer__txt {
            font-size: 1.5rem;
            line-height: 1.5;
        }
    }
    &__content {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }
}