/*------------------------------------------------------------
header
------------------------------------------------------------*/
.c-header {
    $root: &;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border-bottom: 1px solid $colorBlue5;
        @include max-w(1024px) {
            justify-content: space-around;
        }
    }
    &__menu {
        display: flex;
        align-items: center;
        z-index: 2;
        @include max-w(1024px) {
            margin: 16px auto;
        }
    }
    &__item {
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 1.5;
        font-weight: 600;
        padding: 0 10px;
        text-transform: capitalize;
        position: relative;
        cursor: pointer;
        &__services {
            height: 100%;
            display: flex;
            align-items: center;
            &:hover {
                #{$root}__child {
                    display: block;
                }
            }
        }
        &__abouts {
            height: 100%;
            display: flex;
            align-items: center;
            &:hover {
                #{$root}__child {
                    display: block;
                }
            }
        }
        &:hover {
            color: $colorRed;
            transition: all 0.1s;
            #{$root}__child {
                color: black;
            }
        }
    }
    &__link {
        display: inline-block;
    }
    &__logo {
        display: inline-block;
    }
    &__child {
        position: absolute;
        top: 70px;
        min-width: 310px;
        padding: 10px;
        transition: all 0.5s;
        display: none;
        border-radius: 3px;
        background-color: $colorBlue5;
        z-index: 9;
        &__item {
            font-weight: 500;
            font-size: 1.5rem;
            padding: 10px 10px 0px 10px;
           &:hover {
                color: $colorRed;
           } 
        }
    }
    &__top {
        border-top: 1px solid $colorBlue5;
        border-bottom: 1px solid $colorBlue5;
        .l-container {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            flex-wrap: wrap;
            @include sp() {
                padding: 10px 20px;
            }
        }
    }
    &__address {
        display: flex;
        flex-wrap: wrap;
        @include sp() {
            margin-top: 10px;
        }
        &__item {
            font-weight: 600;
            display: flex;
            align-items: center;
            &:last-child {
                &::before {
                    content: "";
                    width: 2px;
                    background-color: $colorBlack;
                    height: 100%;
                    margin-right: 15px;
                    @include max-w(391px) {
                        width: 0;
                        margin-right: 0;
                    }
                }
            }
            &:first-child {
                margin-right: 10px;
            }
        }
    }
    &__nameCompany {
        font-weight: 600;
        font-size: 1.7rem;
    }

    &__search {
        height: 80px;
        line-height: 80px;
        @include max-w(550px) {
            display: none;
        }
    }
    &__form {
        color: $colorGrey;
        position: relative;

        @include max-w(550px) {
            text-align: center;
            padding: 16px 0;
        }

        i {
            position: absolute;
            top: 30px;
            left: 15px;
        }
        input {
            padding: 6px 0 6px 32px;
            font-size: 1.6rem;
            line-height: 1.5;
            
            border: transparent;
            box-shadow: 0 0 1px $colorBlack;
            @include max-w(1024px) {
                width: 456px;
            }
            @include sp {
                width: 50%;
            }
        }
        button {
            padding: 6px 16px;
            font-size: 1.6rem;
            line-height: 1.5;
            background-color: $colorBlue5;
            border: transparent;
            font-weight: 600;
            box-shadow: 0 0 1px $colorBlack;
        }
    }
}
.c-header1 {
    // position: relative;
    &__heading {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    } 
    &__search {
        display: none;
        @include max-w(550px) {
            display: block;
        } 
    }
    &__menuBar {
        height: 80px;
        line-height: 80px;
        font-size: 3.2rem;
        padding-right: 30px;
    }
    &__menu {
        display: none;
        text-align: center;
        position: absolute;
        padding-top: 16px;
        width: 100%;
        top: 0;
        height: 66%;
        background-color: $colorBlue6;
        z-index: 10;
        color: $colorWhite;
        font-size: 1.8rem;
        line-height: 1.5;
    }
    &__item {
        padding: 16px;
    }
    &__list {
        position: relative;
    }
    &__child {
        display: none;
        font-size: 1.6rem;
        color: $colorLightGrey;
    }
    &__exit {
        position: absolute;
        font-size: 3.2rem;
        line-height: 1;
        color: $colorRed;
        top: 0;
        right: 32px;
    }
    
}