/*------------------------------------------------------------
layout
------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@200;300;400;500;600;800&display=swap');

@mixin roboto {
	font-family: 'Roboto Serif', serif;
}

body {
	font-family: "Roboto Serif", "Meiryo", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", sans-serif;
	overflow-x: hidden;
	overflow-y: auto;
	min-width: 320px;
	font-size: 1.4rem;
	font-weight: 400;
}

.l-content {
    width: 100%;
	max-width: 1040px;
    margin: 0 auto;
    @include sp {
        width: auto;
    }
}

.l-container {
	width: 100%;
	max-width: 1280px;	
	margin-left: auto;
	margin-right: auto;
	box-sizing: content-box;
	padding: 0 20px;
}

/* SP show/hide
------------------------------------------------------------*/
.sp {
	&-only {
		@media screen and (min-width: #{($breakpoint1 + 1px)}) {
			display: none !important;
		}
	}

	&-hide {
		@include sp {
			display: none !important;
		}
	}
}

/* PC show/hide
------------------------------------------------------------*/
.pc {
	&-only {
		@include sp {
			display: none !important;
		}
	}

	&-hide {
		@include pc {
			display: none !important;
		}
	}
}

/* Link hover
------------------------------------------------------------*/
a:hover {
	@include pc {
		opacity: 0.80;
		filter: alpha(opacity=80);
		-ms-filter: "alpha(opacity=80)";
		text-decoration: none;
	}
}
