/*-------------------------------------------
Base width
-------------------------------------------*/
$basewidth1: 1040px;

/*-------------------------------------------
Breakpoint
-------------------------------------------*/
$breakpoint1: 767px;

/*-------------------------------------------
Common color
-------------------------------------------*/
$color1: #0e8ae9;
//$color2:#;
//$color3:#;


//baseWidth
$breakpoint1: 767px;

// $mainFonts : "RobotoRegular", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

//color common
$colorWhite: #ffffff;
$colorPurple: #5d3284;
$colorBlack: #111111;
$colorGrey: #838383;
$colorLightGrey: #cccccc;

$roboto: 'Roboto';