/*-------------------------------------------
Base width
-------------------------------------------*/
$basewidth1: 1040px;

/*-------------------------------------------
Breakpoint
-------------------------------------------*/
$breakpoint1: 767px;

/*-------------------------------------------
Common color
-------------------------------------------*/
$color1: #0e8ae9;
//$color2:#;
//$color3:#;


//baseWidth
$breakpoint1: 767px;


//color common
$colorWhite: #ffffff;
$colorPurple: #5d3284;
$colorBlack: #111111;
$colorGrey: #838383;
$colorLightGrey: #cccccc;
$colorBlue1: #ADD8E6;
$colorBlue2: #00BFFF;
$colorBlue3: #87CEFA;
$colorBlue4: #00BFFF;
$colorBlue5: #003556;
$colorRed1: #CD5C5C;
$colorRed2: #00BFFF;
$colorGreen: #00FA9A;
$colorRed: 	#FF0000;
$colorGreen2: 	#00c500;
$colorGrey1: #8d8f92;
$colorGrey2: #4e5a62;
$colorGrey3: #3a454d;


$roboto: 'Roboto';