/*-------------------------------------------
Base width
-------------------------------------------*/
$basewidth1: 1040px;

/*-------------------------------------------
Breakpoint
-------------------------------------------*/
$breakpoint1: 767px;

/*-------------------------------------------
Common color
-------------------------------------------*/
$color1: #0e8ae9;
//$color2:#;
//$color3:#;
