.c-title1 {
    font-size: 2.8rem;
    line-height: 1.5;
    font-weight: bold;
    text-transform: uppercase;
    color: $colorBlue6;
    @include sp() {
        font-size: 2.0rem;
    }
    &--color1 {
        color: $colorWhite;
    }
}
.c-title2 {
    font-size: 1.8rem;
    line-height: 2;
    font-weight: 600;
    text-transform: uppercase;
}
.c-title3 {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 600;
    text-transform: uppercase;
}