/*------------------------------------------------------------
list
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-list1 {
	$root: &;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    &__item {
        width: 33.33%;
        padding: 30px 0 0 30px;
        @include sp {
            width: 100%;
            margin: 0 30px;
        }
        
    }
    &__description {
        padding: 10px 20px 20px;
        box-shadow: 0 0 5px $colorLightGrey;
        #{$root}__title {
            font-size: 1.8rem;
            line-height: 1.5;
            font-family: $roboto;
        }
        #{$root}__time {
            font-size: 1.3rem;
            line-height: 1.5;
            font-style: italic;
            color: $colorGrey;
        }
        #{$root}__txt {
            font-size: 1.6rem;
            line-height: 1.5;
            color: $colorBlack;
            text-align: justify;
        }
    }
}

.c-list2 {
    $root: &;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    @include sp() {
        margin-left: -10px;
    }
    &__item {
       margin-bottom: 15px;
       width: 50%;
       padding-left: 30px;
       transition: all .5s;
       @include sp() {
            padding-left: 10px;
            margin-bottom: 30px;
       }
       &:hover {
            transform: translateY(-5px);
       }
    }
    &__link {
        display: flex;        
    }
    &__img {
        display: inline-block;
        width: 100%;
        max-height: 250px;
        height: 100%;
        @include sp {
            max-height: 170px;
        }
    }
    &__info {
        margin-top: 10px;
    }
    &__title {
        font-size: 2.3rem;
        line-height: 1.5;
        font-weight: 700;
        @include sp {
            font-size: 2.0rem;
        }
    }
    &__time {
        font-size: 1.3rem;
        line-height: 1.5;
        font-style: italic;
        color: $colorGrey;
        display: inline;
        @include sp {
            display: block;
        }
    }
    &__author{
        font-size: 1.3rem;
        line-height: 1.5;
        color: $colorGrey;
        display: inline;
        float: right;
        @include sp {
            display: block;
            float: none;
        }
    }
    &__txt {
        font-size: 1.6rem;
        line-height: 1.5;
        color: $colorBlack;
        text-align: justify;
        margin-top: 5px;
        @include sp {
            font-size: 1.5rem;
        }
    }
}

.c-list3 {
    $root: &;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    @include sp {
        margin: 0;
    }
    
    &__item {
        width: 33.33%;
        padding:0 30px;
        @include sp {
            width: 100%;
            max-width: 370px;
        }
    }
    &__img {
        position: relative;
        @include sp {
            width: 100%;
        }
    }
    &__title {
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
        font-size: 1.8rem;
        line-height: 1.5;
    }
    &__txt {
        padding: 10px 20px 20px;
        #{$root}__time {
            font-size: 1.3rem;
            line-height: 1.5;
            font-style: italic;
            color: $colorGrey;
            text-align: right;
        }
        #{$root}__content {
            font-size: 1.6rem;
            line-height: 1.5;
            text-align: justify;
            padding-bottom: 10px;
        }
        figure {
            display: inline;
            transition: padding 0.5s ease-in-out;
        }
        figure:hover {
            padding-left: 30px;
        }
    }
}


// start: list for quote
.c-list4 {
    $root: &;
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    
    &__item {
        width: 25%;
        padding-left: 10px;
 
        #{$root}__info {
            font-size: 2.3rem;
            line-height: 1.5;
            text-align: center;
            font-weight: bold;
            padding: 30px 30px;
            color: $colorWhite;
            background-color: $colorGrey;
            &--background1 {
                background-color: $colorBlue1;
            }
            &--background2 {
                background-color: $colorBlue2;
            }
            &--background3 {
                background-color: $colorBlue3;
            }
            &--background4 {
                background-color: $colorBlue4;
            }
        }
        #{$root}__title {
            text-align: center;
            border-bottom: 1px solid $colorWhite;
        }
        #{$root}__price {
            font-size: 2.8rem;
        }
        #{$root}__content {
            font-size: 16px;
            line-height: 3;
            text-align: center;
            border: 1px solid $colorLightGrey;
            li {
                border-bottom: 1px solid $colorLightGrey;
            }
            #{$root}__check {
                color: $colorGreen2;
            }
            #{$root}__uncheck {
                color: $colorRed;
            }
        }
        #{$root}__btn {
            width: 100%;
            padding: 20px;
            font-size: 16px;
            font-family: $roboto;
            border: 1px solid $colorGreen;
            background-color: $colorGreen;
        }
    }
    
}
// end: list for quote