/*------------------------------------------------------------
list
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-list1 {
	$root: &;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    &__item {
        width: 33.33%;
        padding: 30px 0 0 30px;
        @include sp {
            width: 100%;
            margin: 0 30px;
        }
        
    }
    &__description {
        padding: 10px 20px 20px;
        box-shadow: 0 0 5px $colorLightGrey;
        #{$root}__title {
            font-size: 1.8rem;
            line-height: 1.5;
            font-family: $roboto;
        }
        #{$root}__time {
            font-size: 1.3rem;
            line-height: 1.5;
            font-style: italic;
            color: $colorGrey;
        }
        #{$root}__txt {
            font-size: 1.6rem;
            line-height: 1.5;
            color: $colorBlack;
            text-align: justify;
        }
    }
}

.c-list2 {
    $root: &;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    @include max-w(870px) {
        margin-left: -15px;
    }
    @include sp() {
        margin-left: -10px;
    }
    &__item {
       margin-bottom: 15px;
       width: 50%;
       padding-left: 30px;
       transition: all .5s;
       @include max-w(870px) {
           padding-left: 15px;
       }
       @include sp() {
            padding-left: 10px;
            margin-bottom: 30px;
       }
       &:hover {
            transform: translateY(-5px);
       }
    }
    &__link {
        display: flex;        
    }
    &__img {
        display: inline-block;
        width: 100%;
        max-height: 250px;
        height: 100%;
        @include sp {
            max-height: 170px;
        }
    }
    &__info {
        margin-top: 10px;
    }
    &__title {
        font-size: 2.3rem;
        line-height: 1.5;
        font-weight: 700;
        @include sp {
            font-size: 2.0rem;
        }
    }
    &__time {
        font-size: 1.3rem;
        line-height: 1.5;
        font-style: italic;
        color: $colorGrey;
        display: inline;
        @include sp {
            display: block;
        }
    }
    &__author{
        font-size: 1.3rem;
        line-height: 1.5;
        color: $colorGrey;
        display: inline;
        float: right;
        @include sp {
            display: block;
            float: none;
        }
    }
    &__txt {
        font-size: 1.6rem;
        line-height: 1.5;
        color: $colorBlack;
        text-align: justify;
        margin-top: 5px;
        @include sp {
            font-size: 1.5rem;
        }
    }
}

.c-list3 {
    $root: &;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    @include sp {
        margin: 0;
    }
    
    &__item {
        width: 33.33%;
        padding:0 30px;
        @include sp {
            width: 100%;
            max-width: 370px;
        }
    }
    &__img {
        position: relative;
        @include sp {
            width: 100%;
        }
    }
    &__title {
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
        font-size: 1.8rem;
        line-height: 1.5;
    }
    &__txt {
        padding: 10px 20px 20px;
        #{$root}__time {
            font-size: 1.3rem;
            line-height: 1.5;
            font-style: italic;
            color: $colorGrey;
            text-align: right;
        }
        #{$root}__content {
            font-size: 1.6rem;
            line-height: 1.5;
            text-align: justify;
            padding-bottom: 10px;
        }
        figure {
            display: inline;
            transition: padding 0.5s ease-in-out;
        }
        figure:hover {
            padding-left: 30px;
        }
    }
}


// start: list for quote
.c-list4 {
    $root: &;
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    
    &__item {
        width: 25%;
        padding-left: 10px;
        transition: all 0.5s ease-in-out;
        cursor: pointer;

        &:hover {
            margin-top: -10px;
        }
        @include max-w(1023px) {
            width: 50%;
            margin-bottom: 20px;
        }
        @include sp {
            width: 100%;
            margin: 10px 0 0 0;
        }
    }
    &__info {
        font-size: 2.3rem;
        border-radius: 3px;
        line-height: 1.5;
        text-align: center;
        font-weight: bold;
        padding: 30px 30px;
        color: $colorWhite;
        box-shadow: 0 0 5px $colorGrey;
        background-color: $colorGrey;
        @include max-w(1024px) {
            padding: 30px 15px;
        }
        &--background1 {
            background-color: $colorBlue1;
        }
        &--background2 {
            background-color: $colorBlue2;
        }
        &--background3 {
            background-color: $colorRed1;
        }
        &--background4 {
            background-color: $colorRed;
        }
    }
    &__title {
        text-align: center;
        border-bottom: 1px solid $colorWhite;
    }
    &__price {
        font-size: 2.5rem;
        @include max-w(1024px) {
            font-size: 2rem;
        }
    }
    &__content {
        font-size: 16px;
        text-align: center;
        border: 1px solid $colorLightGrey;
        box-shadow: 0 0 5px $colorLightGrey;
        border-bottom: none;
        li {
            border-bottom: 1px solid $colorLightGrey;
            line-height: 1.5;
            padding: 10px 5px;
        }
        #{$root}__check {
            color: $colorGreen2;
        }
        #{$root}__uncheck {
            color: $colorRed;
        }
    }
    &__btn {
        width: 100%;
        padding: 20px;
        font-size: 16px;
        text-transform: uppercase;
        background-color: $colorBlue2;
        font-weight: 600;
        transition: all 0.5s;
        border: 1px solid $colorLightGrey;
        box-shadow: 0 0 5px $colorLightGrey;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        cursor: pointer;
        @include roboto();
        &:hover {
            border: 1px solid $colorRed;
            box-shadow: 0 0 5px $colorLightGrey;
            background-color: $colorRed;
            color: $colorWhite;
        }
    }
}
// end: list for quote

.c-list5 {
    $root: &;
    
    &__item {
        font-size: 1.6rem;
        box-shadow: -5px 5px 5px $colorBlue1;
        transition: all 0.5s ease-in-out;
        font-weight: 500;
        cursor: pointer;
        @include max-w(470px) {
            display: flex;
            span {
                padding-top: 15px;
            }
        }
        &1 {
            background-color: rgba(255,255,0, $alpha: 0.1);
        }
        &2 {
            margin-left: 120px;
            background-color: rgba(255,255,0, $alpha: 0.2);
            @include max-w(1024px) {
                margin-left: 60px;
            }
        }
        &3 {
            margin-left: 240px;
            background-color: rgba(255,255,0, $alpha: 0.3);
            @include max-w(1024px) {
                margin-left: 120px;
            }
        }
        &4 {
            margin-left: 360px;
            background-color: rgba(255,255,0, $alpha: 0.4);
            @include max-w(1024px) {
                margin-left: 180px;
            }
        }
        &5 {
            margin-left: 480px;
            background-color: rgba(255,255,0, $alpha: 0.5);
            @include max-w(1024px) {
                margin-left: 240px;
            }
        }
        &6 {
            margin-left: 600px;
            background-color: rgba(255,255,0, $alpha: 0.6);
            @include max-w(1024px) {
                margin-left: 300px;
            }
        }
        &:hover {
            background-color: rgba(255,255,0, $alpha: 1);
            box-shadow: -5px 5px 5px $colorRed1;
            opacity: 0.8;
        }
        @include sp {
            margin-left: 0;
        }
    }

    &__img {
        display: inline-block;
        width: 120px;
        height: 60px;
    }

    &__step {
        float: right;
        line-height: 60px;
        padding-right: 30px;
        @include sp {
            display: none;
        }
    }

    &__icon {
        width: 120px;
        text-align: center;
        font-size: 36px;
        color: $colorRed;
        @include sp {
            margin-left: 0;
            width: 100%;
        }
        &1 {
            margin-left: 120px;
            @include sp {
                display: none;
            }
            @include max-w(1024px) {
                margin-left: 60px;
            }
        }
        &2 {
            margin-left: 240px;
            @include sp {
                display: none;
            }
            @include max-w(1024px) {
                margin-left: 120px;
            }
        }
        &3 {
            margin-left: 360px;
            @include sp {
                display: none;
            }
            @include max-w(1024px) {
                margin-left: 180px;
            }
        }
        &4 {
            margin-left: 480px;
            @include sp {
                display: none;
            }
            @include max-w(1024px) {
                margin-left: 240px;
            }
        }
        &5 {
            margin-left: 600px;
            @include sp {
                display: none;
            }
            @include max-w(1024px) {
                margin-left: 300px;
            }
        }
        &Mobile1, &Mobile2, &Mobile3, &Mobile4, &Mobile5 {
            display: none;
            @include sp {
                display: inline-block;
            }
        }
    }
}


.c-list6 {
    $root: &;
    width: 100%;
    text-align: center;

    .slick-slide{
        margin:10px ;
      }

    .slick-arrow {
        background-color: $colorLightGrey;
        border-radius: 50%;
        &:hover {
            background-color: $colorGrey;
        }
    }
    &__img {
        width:100%;
        border: 1px solid #fff;
        img {
            border-radius: 10%;
            &:hover {
                transform:scale(1.1);
            }
        } 
    }
    &__txt {
        @include roboto();
        padding-top: 10px;
        font-size: 1.3rem;
        line-height: 1.5;
        font-weight: 500;
    }
}

// start: service
.c-list7 {
    $root: &;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 30px 0;
    &__item1 {
        width: 49%;
        position: relative;
        &:hover {
           box-shadow: 0 0 5px $colorBlue2;
        }
        @include sp {
            width: 100%;
            margin-top: 10px;
        }
    }
    &__item2 {
        width: 32.33%;
        margin-top: 20px;
        position: relative;
        &:hover {
           box-shadow: 0 0 5px $colorBlue2;
        }
        @include sp {
            width: 100%;
            margin-top: 10px;
        }
    }
    &__txt {
        position: absolute;
        display: block;
        top: 0;
        padding: 30px;
        font-size: 1.8rem;
        text-transform: uppercase;
        color: $colorWhite;
        width: 100%;
        height: 100%;
        background-color: rgba(1, 1, 1, 0.5);
    }
    &__img {
        height: 250px;
    }

}
// end: service