/* Slick Slider */
.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto}.slick-track:after,.slick-track:before{display:table;content:''}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}
/* Slick Slider Theme*/
.slick-loading .slick-list
{
    background: #fff url('ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/slick.eot');
    src: url('fonts/slick-1.eot') format('embedded-opentype'), url('fonts/slick.woff') format('woff'), url('fonts/slick.ttf') format('truetype'), url('fonts/slick.svg') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}
.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}
/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}
.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
:root{
    --e-global-color-primary: #4285f4;
    --e-global-color-secondary: #34a853;
    --e-global-color-text: #000;
    --e-global-color-accent: #5fd1f9;
    --e-global-color-60ed90fa: #5558da;
    --e-global-color-7504f9e: #111;
    --e-global-color-df3156c: gray;
    --e-global-color-c3b04fe: #f1f1f1;
    --e-global-color-4ec3deb: #000;
    --e-global-color-c2864a4: #545454;
    --e-global-color-614b1db: rgba(128,128,128,.4);
    --e-global-typography-primary-font-family: "Roboto";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Roboto Slab";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Roboto";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500;
}
/*************** ADD CUSTOM CSS HERE.   ***************/
.blog-archive .post-item h5 {
    font-size: 2em;
}
.from_the_blog_excerpt {
    font-size: 1.2em;
}
.header-top{
	background-color: transparent;
	background-image: linear-gradient(269deg,var(--e-global-color-secondary) 0%,var(--e-global-color-primary) 100%);
}
.trending-news {
    display: flex;
    align-content: center;
    height: 63px;
    padding-top: 18px;
}
.trending-news .aux-modern-heading-primary,.trending-news .tredding-posts{display:inline-flex;}
.aux-modern-heading-primary {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: #fff;
    margin: 0;
	width:auto;
	margin-right:10px;
}
.tredding-posts{width:600px;overflow:hidden;}
.post-item a{color:#fff;font-size:13px;}
.post-item > a:hover{color:#ccc;}
.box-vertical .box-text{vertical-align:top !important;}
.featured-title {
    background-color: transparent;
	background-image: linear-gradient(269deg,var(--e-global-color-secondary) 0%,var(--e-global-color-primary) 100%);  
}
.home-blogpost .box-blog-post .box-image {
    overflow: hidden;
    border-radius: 10px;
    transition: box-shadow .6s cubic-bezier(.165,.84,.44,1);
}
.home-blogpost .box-blog-post .box-image:hover {
    box-shadow: 0 20px 50px rgba(0,0,0,.4);
}
.element-title,.widget-title{	
	position: relative;	
	font-weight: 700;
}
.widget-title{display:block;}
aside .is-divider{display:none;}
.element-title:before,.widget-title:before {
    content: '';    
    height: 2px;
	width:100%;
    background-image: linear-gradient(270deg,var(--e-global-color-secondary) 0,var(--e-global-color-primary) 100%);    
    border-radius: 1px;
	position:absolute;
	top:50%;
	left:0;
	right:0;
	z-index:1;
}
.title-dark .title-holder {
    background-color: rgb(17, 17, 17);
}
.title-holder,.widget-title span {
	background-color:#fff;
    padding-right: 10px;
	position:relative;
	z-index:2;	
}
.col.post-item{padding-bottom:15px;}
.col.post-item .box-image img{
    border-radius: 10px;
}
.cat-label.tag-label{
	border-radius: 5px;
	color: #fff;
	background-color: transparent;
	background-image: linear-gradient(105deg,var(--e-global-color-60ed90fa) 0%,var(--e-global-color-accent) 100%);
	padding: 4px 11px;
	margin-bottom: 9px;
}
.entry-content{text-align:justify;}
.badge-inner.bg-fill {
    border-radius: 8px;
}
.absolute-footer{display:none;}
/*************** ADD MOBILE ONLY CSS HERE  ***************/
@media only screen and (max-width: 48em) {



}