.meta-related ul li a{color: #0092ff;} .meta-related ul li{line-height: 20px;} .meta-related ul{margin-left: 10px}


/* Dành cho điện thoại */
@media all and (max-width: 480px) {
.list-news li{width:50%}
.list-news{width:100%}
 
}
 
/* Dành cho máy tính bảng */
/*@media all and (max-width: 1024px) {
 
}

/*Format Font Family*/
@font-face {
  font-family: Font1;
  src: url(../webfonts/Baomoi_gdi.ttf);
}
body,h1,h2,h3,h4,h5,h6,a,i,b,select{font-family: Font1, san-serif !important;} 